<mat-toolbar color="primary">
    <div class="menu-container">
        <a mat-icon-button aria-label="Return to song list" (click)="location.back()">
            <mat-icon>arrow_back</mat-icon>
        </a>
        <span>{{song?.title}}</span>
    </div>
    
    <div class="menu-container">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Song options">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div mat-menu-item class="dropdown-item" (click)="$event.stopPropagation()">
                <span>Ukryj akordy</span>
                <mat-slide-toggle [(ngModel)]="settings.hideChords"></mat-slide-toggle>
            </div>
            <div mat-menu-item class="dropdown-item" (click)="$event.stopPropagation()">
                <span>Rozmiar tekstu</span>
                <mat-slider min="12" max="20" step="1"><input matSliderThumb [(ngModel)]="settings.fontSize"/></mat-slider>
            </div>
        </mat-menu>
    </div>

</mat-toolbar>

<mat-card *ngIf="song">
    <mat-card-header>
        <mat-card-subtitle *ngIf="song.author" [style.font-size]="settings.fontSize + 'px'">Autor: {{song.author}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="stanza" *ngFor="let component of song.content" [style.margin-bottom]="settings.fontSize + 'px'">
            <div class="line" *ngFor="let line of component.lines" [style.font-size]="settings.fontSize + 'px'">
                <span >{{line.text}}</span>
                <span *ngIf="!settings.hideChords" class="chord">{{line.chords}}</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>