div.stanza {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}

div.line {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white; // text color set explicitly becasue of Angular bug: https://github.com/angular/components/issues/26153
}

span.chord {
    max-width: 100%;
    flex-grow: 1;
    white-space: nowrap;
    text-align: right;
}

div.header {
    display: flex;
    flex-direction: column;
}

:host {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.menu-container {
    display: flex;
    align-items: center;
}

:host ::ng-deep mat-toolbar {
    justify-content: space-between;
}

div.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}