.song-entry-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.song-title {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

:host {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

$menu-height: 56px;

mat-toolbar.nav-bar {
    position: sticky;
    top: 0;
    z-index: 256;
    flex-shrink: 0;
    height: $menu-height;
}

mat-card.search-field-container {
    position: sticky;
    top: $menu-height;
    z-index: 128;
    padding: 0;
}

::ng-deep mat-card.search-field-container .mat-form-field-wrapper {
    margin-bottom: -1.34375em;
}
